{% extends "blogcoder/padre.html" %}

{% load static%}

{% block contenido %}
<h1 style="margin-top: 0px;" class="masthead-heading mb-0">Nosotros</h1>
<div style="display: flex; align-items: center;">
    <img style="border-radius: 500px; width: 100px; height: 100px; margin: 10px;"
        src="https://avatars.githubusercontent.com/u/105681331?s=400&u=b677b9d0a91ed677352b90a20693136f35c2ec3e&v=4">
    <h2> Tomás Langeneker : </h2>
    &nbsp &nbsp
    <div>
        <h3>Técnico químico y futuro programador argentino</h3>
    </div>
</div>

<div style="display: flex; align-items: center;">
    <img style="border-radius: 500px; width: 100px; height: 100px; margin: 10px;"
        src="https://avatars.githubusercontent.com/u/82419235?v=4">
    <h2> Tomás Goyret:</h2>
    &nbsp &nbsp
    <h3>Lic en administrador, futuro programador y jugador de futbol </h3>
</div>

{% endblock %}