{% extends "blogcoder/padre.html" %}

{% load static%}

{% block contenido %}
<h1 style="margin-top: 0px;" class="masthead-heading mb-0">Nosotros</h1>
<div style="display: flex; align-items: center;">
    <img style="border-radius: 500px; width: 100px; height: 100px; margin: 10px;" src="../../static/blogcoder/assets/img/03.jpg">
    <h2> Tomás Langeneker    </h2>
</div>

<div style="display: flex; align-items: center;">
    <img style="border-radius: 500px; width: 100px; height: 100px; margin: 10px;" src="../../static/blogcoder/assets/img/02.jpg">
    <h2> Tomás Goyret</h2>
</div>

{% endblock %}